/* --- restuarants.css --- */

.restaurants-list-wrapper {
    /* Center the list container and apply global padding */
    width: 100%;
    max-width: 1200px; /* Standard maximum width for main content on large screens */
    margin: 20px auto; /* Center the container horizontally, add vertical spacing */
    
    display: grid;
    
    grid-template-columns: 1fr; 
    gap: 15px; /* Spacing between the list items (cards) */
    padding: 0 20px; /* Horizontal padding for desktop/tablet screens */
    box-sizing: border-box; /* Include padding/border in element's total width */
}


.page-content {
  padding-top: 65px; 
}


@media (max-width: 1440px) {
  .page-content {
    padding-top: 70px;
  }
}


@media (max-width: 1024px) {
  .page-content {
    padding-top: 150px;
  }
}


@media (max-width: 768px) {
  .page-content {
    padding-top: 95px;
  }
}

@media (max-width: 600px) {
  .page-content {
    padding-top: 105px;
  }
}


@media (max-width: 480px) {
  .page-content {
    padding-top: 115px;
  }
}


@media (max-width: 360px) {
  .page-content {
    padding-top: 120px;
  }
}



@media (max-width: 992px) {
    .restaurants-list-wrapper {
        max-width: 960px; 
        padding: 0 15px;
    }
}

@media (max-width: 600px) {
    .restaurants-list-wrapper {
        margin: 10px auto;
        padding: 0 10px; 
    }
}